h1, h2, h3, h4
  margin: 0
  padding: 0

img
  width: 100%
  height: 100%

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

.templateWrapper
  padding: 150px 0 20px

header
  box-shadow: 0 2px 5px rgba(0,0,0,.26)
  text-align: center
  padding: 20px 0 80px
  background-color: #337ab7
  color: #fff
  position: fixed
  left: 0
  right: 0
  top: 0
  z-index: -1
  h1
    font-size: 48px
    line-height: 68px
    font-family: 'Audiowide', cursive
  h2
    font-size: 32px
    line-height: 48px

.playerFormWrapper
  margin: 0 auto
  width: 400px
  box-shadow: 0 6px 12px rgba(0,0,0,0.6)
  border: 1px solid #ddd
  background-color: #fff
  padding: 40px 40px
  position: relative
  h3
    margin-bottom: 20px
    font-size: 16px
    line-height: 24px
    text-align: center
    font-weight: bold

.getPlayerInfoForm
  margin-bottom: 20px
  .glyphicon
    color: #449d44

.notificationMessage
  font-weight: bold
  position: absolute
  top: 0
  left: 10px
  right: 10px
  padding: 5px 0
  text-align: center
  transition: all 0.5s ease-in
  -webkit-transition: all 0.5s ease-in
  -moz-transition: all 0.5s ease-in
  -ms-transition: all 0.5s ease-in

.playerListing
  list-style-type: none
  padding: 0
  margin: 0 0 20px -10px
  li
    padding: 2px 5px
    border: 1px solid #d1d1d1
    margin: 0 0 10px 10px
    font-size: 14px
    line-height: 20px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  .glyphicon
    vertical-align: middle
    margin-left: 5px
    font-size: 16px
    line-height: 24px
    color: #d9534f

.gameStatsForm
  .input-group
    width: 100%
    margin-bottom: 20px

.additionalStatsForm
  h4
    font-size: 14px
    font-weight: bold
    line-height: 20px
    margin-bottom: 4px
  button
    margin-bottom: 10px
    font-weight: bold
    white-space: normal

.oneupRules
  padding-left: 10px
  margin-bottom: 20px

.gamePlayWrapper
  padding: 0
  list-style-type: none
  margin: 0 auto
  text-align: center
  border-right: 1px solid #d1d1d1
  border-bottom: 1px solid #d1d1d1
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4)
  .displayTableCell
    border-top: 1px solid #d1d1d1
    border-left: 1px solid #d1d1d1
    padding: 5px 10px
    background-color: #fff
  input
    width: 100%
    border: none
    text-align: center
    background: transparent
    &:focus
      outline: none
  .tableHeader
    background-color: #337ab7
    color: #fff
    font-size: 16px
    font-weight: bold
    text-transform: capitalize
    line-height: 20px
  .playerFinished
    background-color: #d43f3a
    color: #fff
  .oneupWrapper
    background-color: #4cae4c
    color: #fff

.gameResultsWrapper
  margin: 0 auto
  width: 600px
  box-shadow: 0 6px 12px rgba(0,0,0,0.6)
  border: 1px solid #ddd
  background-color: #fff
  padding: 40px 40px
  position: relative
  .buttonWrapper
    margin-bottom: 20px
  h3
    padding-bottom: 4px
    font-size: 16px
    line-height: 24px
    text-align: center
    font-weight: bold
    border-bottom: 1px solid #d1d1d1
    margin-bottom: 10px

.gameResultSection
  margin-bottom: 20px
  .resultList
    display: inline-block
  h4
    font-size: 16px
    line-height: 24px
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4)
    padding: 5px
  strong,
  span
    min-width: 90px
    display: inline-block
  .winner
    color: #337ab7
  .looser
    color: #398439
  .noWhere
    color: #ac2925

.showResultsButton
  text-align: center
  padding: 5px 20px
  background-color: #337ab7
  color: #fff
  font-size: 16px
  font-weight: bold
  width: 240px
  margin: 0 auto
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4)
  position: relative

.gamePlayLimitInput
  background: transparent
  width: 100%
  border: 1px solid #fff
  padding: 2px 36px 2px 8px
  line-height: 24px
  font-size: 16px

.gamePlayLimitButton
  position: absolute
  background: transparent
  border: none
  right: 20px
  top: 8px
  font-size: 22px

.gamePlayLimitEditButton
  background: transparent
  border: none
  font-size: 20px
  vertical-align: text-bottom
  margin-left: 6px

.gamePlayHeader
  .buttonWrapper
    width: 30%
  .oneupWrapper
    width: 40%
  button
    width: 100%

.gamePlayResetButton
  background-color: #d43f3a
  width: 140px

.resultsListing
  width: 100%
  margin-bottom: 20px
  border-bottom: 2px solid #337ab7
  .displayTableCell
    vertical-align: bottom
    span
      border: 1px solid #ddd
      padding: 0 10px
      border-bottom: none
      display: inline-block
      color: #fff
      box-shadow: 0 0px 8px rgba(0, 0, 0, 0.6)

.imageWrapper
  margin: 0 auto

.imageLarge
  width: 60px

.imageSmall
  width: 50px

.winnerImage
  width: 70px
  margin: 0 auto
  padding-right: 10px

.gameStatsGraph
  margin-bottom: 20px

.survivalInstinctGraph
  margin-bottom: 20px

.displayTable
  display: table

.displayTableRow
  display: table-row

.displayTableCell
  display: table-cell

.cursorPointer
  cursor: pointer

@media (max-width: 630px)
  .gameResultsWrapper
    width: auto
  .templateWrapper
    padding-top: 210px
  .gameResultsWrapper
    padding: 40px 6px
  .resultsListing
    .displayTableCell
      span
        padding-left: 4px
        padding-right: 4px
  .playerFormWrapper
    width: auto

  .winnerImage
    width: 60px

  .imageLarge
    width: 50px

  .imageSmall
    width: 40px
